* {
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
}
p {
  font-size: 20px;
}
/* DROPDOWN MENU */
#menu-icon img {
  width: 45px;
  height: 30px;
  margin-left: 10px;
}
#menu-icon img:hover {
  transform: scale(1.05);
}
#menu-icon {
  background-color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  z-index: 1000;
  background-color: black;
  display: flex;
  align-items: center;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 330px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

#home-nav {
  height: 0;
  display: none;
}
#header-container {
  background-color: #1e051eba;
  width: 100%;
  z-index: 0;
  padding: 200px 0;
}
.main-header {
  background-image: url("./src/header-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rbga(150, 150, 150, 0.2);
  z-index: -1;
}

#main-title {
  color: white;
  font-size: 80px;
  display: flex;
  justify-content: left;
  width: 500px;
  margin-bottom: 0px;
}

#header-words p {
  color: white;
  font-size: 25px;
  text-align: center;
  width: 500px;
  margin-top: 20px;
}
#button-container {
  display: flex;
  align-items: center;
}
.main-btn {
  background-color: rgba(188, 143, 143, 0);
  color: white;
  font-size: 20px;
  border: 2px white solid;
  border-radius: 5px;
  margin-top: 30px;
  padding: 15px 40px;
}
.main-btn:hover {
  transform: scale(1.09);
  background-color: rgba(238, 211, 247, 0.5);
  cursor: pointer;
}
.main-btn a {
  all: unset;
}

#send-btn {
  padding: 15px 40px;
  margin-top: 20px;
}
#send-btn:hover {
  cursor: pointer;
  transform: scale(1.09);
  background-color: rgba(238, 211, 247, 0.5);
}

#header-words {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

footer {
  background-color: #e3d8e7;
  height: auto;
  min-height: 90vh;
  width: 100%;
  padding: 30px;
}
.footer-title {
  font-size: 40px;
  padding: 30px;
}
.contact-container {
  padding: 30px;
  border-top: 3px solid black;
  /* font-size: 20px; */
}

.contact-icon {
  width: 40px;
  height: 40px;
}
#email img {
  margin-left: -10px;
}
.contact-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-items {
  display: flex;
  align-items: center;
}

#name-email {
  display: inline-flex;
  width: 100%;
}
#name-email div {
  display: flex;
  flex-direction: column;
}
#email {
  width: 78%;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
}
#name {
  width: 78%;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
}
#message {
  width: 90%;
  height: 200px;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
}
#names label {
  margin-bottom: 10px;
  margin-right: 10px;
  font-weight: 1000;
}
#emails label {
  margin-bottom: 10px;
  font-weight: 1000;
}
#messages {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#messages label {
  margin-bottom: 10px;
  font-weight: 1000;
}

.form-container div {
  width: 100%;
}
.form-container {
  width: 90%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
}

.contact-items h4 {
  margin-left: 30px;
  font-weight: 100;
  font-size: 20px;
}

/* SOCIAL ICONS */

.social-icon {
  margin: 10px;
}
#github {
  height: 70px;
}
#linkedin {
  height: 70px;
}
#email-social {
  height: 70px;
}
.social-icons {
  margin-top: 30px;
  width: 300px;
  display: flex;
  justify-content: center;
}
.home-section {
  padding: 60px;
  background-color: whitesmoke;
  border-bottom: 3px black solid;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-container p {
  margin-top: 30px;
}
/* ABOUT ME SECTION */
h2 {
  font-size: 50px;
  margin-bottom: 30px;
  color: whitesmoke;
  background-color: black;
  display: flex;
  justify-content: center;
  width: 225px;
  padding: 15px 30px;
  border-radius: 3%;
}
#prof-pic {
  width: 300px;
  border-radius: 50%;
  border: 3px black solid;
}
#about-container {
  border: 3px dotted black;
  padding: 30px;
}

/* PROJECTS SECTION */
#video-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#projects video {
  width: 80%;
  margin: 30px;
}
#drinkz-words {
  margin-top: 30px;
}
#drinkz a {
  all: unset;
  border: black 1px solid;
  padding: 5px;
}
#drinkz a:hover {
  transform: scale(1.5);
  cursor: pointer;
  background-color: rgb(214, 214, 214);
}
.single-project {
  border: black 3px dotted;
  padding: 30px;
}
#drinkz {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#left-drink {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#drinkz h3 {
  font-size: 40px;
  background-color: whitesmoke;
  border: black 3px solid;
  display: flex;
  justify-content: center;
  width: 200px;
  padding: 15px 30px;
  border-radius: 3%;
}
.project-list {
  margin-left: 50px;
  font-size: 20px;
  text-align: center;
  text-align: left;
}
video {
  box-shadow: 0px 0px 45px rgb(42, 4, 50);
}
/* EXPERIENCE SECTION */
.body-btn {
  background-color: rgba(188, 143, 143, 0);
  color: black;
  font-size: 20px;
  border: 2px black solid;
  border-radius: 5px;
  margin-top: 30px;
  padding: 15px 15px;
  width: 250px;
}
.body-btn a {
  all: unset;
}
.body-btn:hover {
  cursor: pointer;
  transform: scale(1.09);
  background-color: rgba(238, 211, 247, 0.659);
}
#experience-container {
  display: flex;
  flex-direction: column;
}
#experience-container section {
  text-align: center;
  border: 3px black dotted;
  padding: 15px;
}
#pra {
  margin-top: 30px;
}
#hci-duties {
  margin-left: 30px;
  margin-top: 10px;
  text-align: left;
}
#pra-duties {
  margin-left: 30px;
  margin-top: 10px;
  text-align: left;
}

/* EDUCATION SECTION */
#education-container {
  display: flex;
  flex-direction: column;
}
#education-container section {
  text-align: center;
  border: 3px black dotted;
  padding: 15px;
}
#uwm {
  margin-top: 30px;
}
#education-container h3 {
  font-size: 30px;
}

/* MEDIA QUERY */
@media (min-width: 1000px) {
  .dropdown {
    display: none;
    height: 0;
  }
  #home-nav {
    background-color: black;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 20px;
    z-index: 1000;
    height: 55px;
    border-bottom: 3px solid black;
    font-size: 30px;
    color: white;
  }
  #home-nav a:hover {
    text-shadow: 0 0 15px #0ff;
    cursor: pointer;
  }
  #home-nav a {
    all: unset;
  }
  #header-words p {
    text-align: left;
    width: 800px;
  }
  #button-container {
    display: flex;
    width: 500px;
    justify-content: flex-end;
  }
  footer {
    display: flex;
    justify-content: center;
  }
  .contact-container {
    border-left: 3px black solid;
    border-top: none;
    padding: 3%;
    margin-left: 3%;
    margin-top: 30px;
  }
  .form-container {
    width: 50%;
  }
  .section-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .section-container p {
    margin-left: 50px;
    margin-top: 0;
    max-width: 900px;
  }
  #experience-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #pra {
    margin-left: 30px;
    max-width: 500px;
  }
  #hci {
    margin-right: 30px;
    max-width: 500px;
  }
  #drinkz {
    flex-direction: row;
  }
  #left-drink {
    width: 500px;
    margin-left: 50px;
  }
  #education-container {
    flex-direction: row;
    justify-content: center;
  }
  #uwm {
    margin-left: 30px;
  }
  #devm {
    margin-right: 30px;
    height: 100px;
  }
}

/* @media (max-width: 500px) {
  body {
    color: blue;
  }
}
@media (orientation: landscape) {
  .title {
    color: green;
  }
}
@media (orientation: portrait) {
  .title {
    color: cyan;
  }
}
@media (orientation: portrait) and (max-width: 500px) {
  .title {
    color: cyan;
  }
}
@media (orientation: portrait) ,(max-width: 500px) {
  .title {
    color: cyan;
  }
} */
